-
  const STAGES = [
    { header: 'брендинг',
      id: 'tooltipBtn1',
      description: 'создание твердой платформы бренда при помощи определения характеристик будущего бренда, таких как: ценности, целевая аудитория, миссия и философия, позиционирование, тон голоса бренда и стиль визуальной коммуникации, сервис и опыт взаимодействия потребителя с брендом.',
      data: [
        { title: 'вид разработки',
          number: '01',
          checkBoxes: 
          [
            { value: 'branding', span: 'брендинг', tooltip: 'Изучение бренда для решения конкретных маркетинговых задач, в том числе повышение конкурентноспособности, формирование уникального образа, повышение симпатии потребителей, а также закрепление и дальнейшее развитие позиции на рынке' },
            { value: 'rebranding', span: 'ребрендинг', tooltip: 'Обновление уже имеющихся концептов и реализованных идей на основе полученного опыта компании на рынке, в том числе и полное реконструкция образа компании с нуля' },
            { value: 'retail-branding', span: 'ритейл-брендинг', tooltip: 'Проектирование и оптимизация торгового пространства, развитие качества взаимодействия торговых точек с клиентами' },
            { value: 'localization', span: 'локализация', tooltip: 'Перевод и адаптирование иностранной продукции под Российский сегмент (в том числе по программе импортозамещения)' }
          ] 
        },
        { title: 'исследование',
          number: '02',
          checkBoxes: 
          [
            { value: 'marketing-analysis', span: 'маркетинговый анализ', tooltip: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment)' }, 
            { value: 'communication-strategy', span: 'Коммуникационная стратегия', tooltip: 'Увеличение спроса и продвижение бренда через общение с целевой аудиторией. Информирование о продукте, его преимуществах, вызывают желание обладать им' },
            { value: 'cjm', span: 'Customer Experience: 5 sense, u&a, CJM', tooltip: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment)' }, 
            { value: 'brand-audit', span: 'аудит бренда', tooltip: 'Аудит бренда — один из самых надёжных методов анализа составляющих бренда, а именно: его конкурентоспособности, текущего положения бренда на рынке, включая исследование потенциала для его дальнейшего развития' }, 
            { value: 'structuring-of-the-received-data', span: 'структурирование полученных данных', tooltip: 'Все полученные данные затем структурируются для подбора оптимальной стратегии позиционирования, сегментирования ключевых групп целевой аудитории, выявлении сильных и слабых сторон позиционирования бренда относительно конкурентов. Мы используем собственные и международные методики изучения брендов, применяя самые результативные модели' }
          ] 
        },
        { title: 'анализ и теория',
          number: '03',
          checkBoxes: 
          [
            { value: 'brand-architecture', span: 'архитектура бренда', tooltip: 'Сочетание концепций бренда и суббрендов на основании сформированной портфельной стратегии. Неотъемлемый элемент позиционирования для компаний с широким ассортиментом товаров и услуг' }, 
            { value: 'promotion-concepts', span: 'концепции продвижения', tooltip: 'Подготовка маркетинговых решений с целью продвижения в целевую аудиторию. На концепции продвижения формируется ключевая идея, которая ложится в основу всех рекламных коммуникаций' }, 
            { value: 'creating-a-brand-legend', span: 'создание легенды бренда', tooltip: 'Развёрнутое описание легенды формирования бренда в доступном и познавательном формате, включает историю создания, философии, ценностях и чувствах, подчёркивающих уникальные атрибуты компании' }, 
            { value: 'naming', span: 'нейминг', tooltip: 'В основе грамотных и эффективных названий мы выделяем лёгкость, звучность и привлекательность, формирующие лояльность и положительный эмоциональный отклик. Все варианты нейминга проходят проверку на уникальность через базу ФИПС' }, 
            { value: 'slogan', span: 'слоган', tooltip: 'Краткость и заразительность наших слоганов всегда отражает основные принципы и ценности бренда, позволяя ярко выделиться на фоне конкурентов. Из множества вариантов мы выбираем самые действенный и бесподобный' }, 
            { value: 'development-of-a-design-strategy', span: 'разработка дизайн-стратегии', tooltip: 'Дизайн является краеугольным камнем любого бренда и основой комплексной стратегии развития бренда через визуальный образ. Разработка стратегии учитывает все элементы невербальной коммуникации для выявления максимально эффективных направлений и сочетаний' }, 
            { value: 'creating-creative-texts', span: 'создание креативных текстов' }, 
            { value: 'brand positioning', span: 'позиционирование бренда', tooltip: 'Правильный тон вербальной коммуникации создает неотъемлемые черты общей картины бренда. От развернутых статей до кратчайших ответов, грамотный текст всегда краток, лаконичен и доступен как для узкой, так и для широкой аудитории' }
          ] 
        }
      ]
    },
    { header: 'айдентика',
      id: 'tooltipBtn2',
      description: 'набор выдержанных в едином стиле и концепции визуальных и прочих элементов, которые формируют образ и восприятие бренда.',
      data: [
        { title: 'логотип',
          number: '04',
          checkBoxes: 
          [
            { value: 'one-option-logo', span: '1 вариант' },
            { value: 'two-options-logo', span: '2 варианта' }
          ] 
        },
        { title: 'фирменный стиль',
          number: '05',
          checkBoxes: 
          [
            { value: 'corporate-pattern-colors-fonts', span: 'фирменный паттерн, цвета, шрифты' },
            { value: 'two-options-style', span: '2 варианта' }
          ] 
        },
        { title: 'разработка формы/дизайна упаковки',
          number: '06',
          checkBoxes: 
          [
            { value: 'design-development-of-shipping-containers', span: 'разработка дизайна транспортировочных тар' },
            { value: 'packaging-design-development', span: 'разработка дизайна упаковки' },
            { value: 'development-of-a-non-standard-packaging', span: 'разработка нестандартной для рынка формы упаковки в соответствии с технологическими возможностями' }
          ] 
        },
        { title: 'разработка дизайна этикеток',
          number: '07',
          checkBoxes: 
          [
            { value: 'label-development', span: 'разработка этикеток' }
          ] 
        },
        { title: 'визуализация на носителях',
          number: '08',
          checkBoxes: 
          [
            { value: 'an-example', span: 'пример работы фирменного стиля в среде' }
          ] 
        },
        { title: 'инструкции',
          number: '09',
          checkBoxes: 
          [
            { value: 'logobook', span: 'логобук', tooltip: 'Руководство по использованию логотипа и подробное описание' },
            { value: 'brandbook', span: 'брендбук', tooltip: 'Официальный документ компании, содержащий подробное описание бренда: философия, концепция, атрибуты, ц/а, позиционирование компании/бренда и прочие маркетинговые данные, данные айдентики' },
            { value: 'cut-guide', span: 'кат гайд', tooltip: 'Руководство по использованию визуальных материалов, их технические требования и чертежи для производственных целей' },
            { value: 'guideline', span: 'гайдлайн', tooltip: 'Свод правил использования визуального стиля компании для отдела дизайна' }
          ] 
        }
      ]
    },
    { header: 'дополнительные услуги',
      description: '',
      data: [
        { title: 'контент, навигация',
          number: '10',
          checkBoxes: 
          [
            { value: 'food-styling-and-advertising-photography-lookbooks-etc', span: 'фудстайлинг и рекламная съемка, лукбуки и  т.д', tooltip: 'Создаём в отличительной стилистике вашего уникального бренда' },
            { value: 'design-of-spaces-and-navigation', span: 'оформление пространств и навигации', tooltip: 'В понятном и логичном визуальном языке, соответствующим особенностям и целям пространства' },
            { value: 'support-from-the-layout', span: 'сопровождение от макета до готового тиража клиенту', tooltip: 'С полным соответствием требованиям заказчика' },
            { value: 'creating-infographics-and-animations', span: 'создание инфографики и анимации', tooltip: 'В доступном, ярком и современном виде' },
            { value: 'development-of-additional-elements', span: 'разработка дополнительных элементов фирменного стиля', tooltip: 'Ведение ваших проектов при расширении линейки продуктов или архитектуры бренда' }
          ] 
        }
      ]
    }
  ]

form.form__stages(id="form1" data-index="1")
      each component in STAGES
        .form__stages-container
          h3.title=component.header
          small=component.description
          button.mdl__open(id=`${component.id}` type="button")
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="none"><rect width="36" height="36" x="1" y="1" stroke="#000" stroke-width="2" rx="18"/><path fill="#000" d="M17.503 23.215v-.307c.006-1.055.09-1.896.253-2.522.17-.627.414-1.133.735-1.519a5.79 5.79 0 0 1 1.16-1.048c.338-.241.64-.491.907-.75.266-.26.479-.546.637-.86.157-.319.236-.674.236-1.066 0-.416-.09-.78-.27-1.094a1.87 1.87 0 0 0-.726-.723 1.993 1.993 0 0 0-.996-.253c-.354 0-.689.088-1.005.262a1.994 1.994 0 0 0-.776.76c-.2.331-.31.744-.326 1.238H14c.027-1.205.289-2.2.784-2.983a4.614 4.614 0 0 1 1.968-1.762c.817-.392 1.718-.588 2.703-.588 1.084 0 2.042.199 2.875.597a4.563 4.563 0 0 1 1.96 1.708c.473.747.71 1.648.71 2.703 0 .705-.106 1.331-.319 1.88a4.641 4.641 0 0 1-.873 1.446c-.376.416-.82.792-1.331 1.13-.43.283-.784.578-1.062.886a3.067 3.067 0 0 0-.613 1.066c-.13.404-.198.901-.204 1.492v.307h-3.095ZM19.12 29c-.544 0-1.01-.21-1.396-.633a2.2 2.2 0 0 1-.564-1.536 2.155 2.155 0 0 1 .564-1.519c.386-.422.852-.633 1.396-.633.517 0 .972.211 1.364.633.392.422.59.928.596 1.519-.005.397-.1.762-.286 1.093-.18.326-.416.588-.71.787-.294.193-.615.289-.964.289Z"/></svg>
        fieldset
          each element in component.data
            .form__boooooox
              h4=element.title
              p.form__stages-toggle#line=element.number
              .form__stages-list 
                each checkBox in element.checkBoxes
                  label(class=`form__label-stages-${checkBox.value}` for=`stages-${checkBox.value}`)
                    input.form__stages-input(type='checkbox' name='stages' id=`stages-${checkBox.value}` data-span=checkBox.span value=checkBox.value)
                    span.form__option
                    p=checkBox.span
                    span.form__stages-tooltip=checkBox.tooltip
      .form__stages-btn
        button.btn-white(type="submit")
        a.btn-arrow(href="#inner2")
          img(src="img/icon-arrow.svg", atl="Подняться", width="52")
      .mdl#tooltipModal1
        .mdl__header
          h3 брендинг
          button.mdl__close(type="button")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="none"><path fill="#000" d="M9 1a1 1 0 0 0-2 0h2ZM7.293 17.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 15.586 2.343 9.929A1 1 0 0 0 .93 11.343l6.364 6.364ZM7 1v16h2V1H7Z"/></svg>
        ul
          li
            p Изучение бренда для решения конкретных маркетинговых задач, в том числе повышение конкурентноспособности, формирование уникального образа, повышение симпатии потребителей, а также закрепление и дальнейшее развитие позиции на рынке.
          li 
            h4 ребрендинг
            p Обновление уже имеющихся концептов и реализованных идей на основе полученного опыта компании на рынке, в том числе и полное реконструкция образа компании с нуля.
          li
            h4 ритейл-брендинг
            p Проектирование и оптимизация торгового пространства, развитие качества взаимодействия торговых точек с клиентами.
          li
            h4 локализация
            p Перевод и адаптирование иностранной продукции под Российский сегмент (в том числе по программе импортозамещения).
        ul исследования
          li
            h4 маркетинговый анализ
            p Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).
          li
            h4 customer experience: 5 sense, u&a, CJM
            p Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).
          li
            h4 аудит бренда
            p Аудит бренда — один из самых надёжных методов анализа составляющих бренда, а именно: его конкурентоспособности, текущего положения бренда на рынке, включая исследование потенциала для его дальнейшего развития.
          li
            h4 структурирование полученных данных
            p Все полученные данные затем структурируются для подбора оптимальной стратегии позиционирования, сегментирования ключевых групп целевой аудитории, выявлении сильных и слабых сторон позиционирования бренда относительно конкурентов. Мы используем собственные и международные методики изучения брендов, применяя самые результативные модели.
        ul анализ и теория
          li
            h4 архитектура бренда
            p Сочетание концепций бренда и суббрендов на основании сформированной портфельной стратегии. Неотъемлемый элемент позиционирования для компаний с широким ассортиментом товаров и услуг.
          li
            h4 концепции продвижения
            p Подготовка маркетинговых решений с целью продвижения в целевую аудиторию. На концепции продвижения формируется ключевая идея, которая ложится в основу всех рекламных коммуникаций.
          li
            h4 создание легенды бренда
            p Развёрнутое описание легенды формирования бренда в доступном и познавательном формате, включает историю создания, философии, ценностях и чувствах, подчёркивающих уникальные атрибуты компании.
          li
            h4 нейминг
            p В основе грамотных и эффективных названий мы выделяем лёгкость, звучность и привлекательность, формирующие лояльность и положительный эмоциональный отклик. Все варианты нейминга проходят проверку на уникальность через базу ФИПС.
          li
            h4 коммуникационная стратегия
            p Увеличение спроса и продвижение бренда через общение с целевой аудиторией. Информирование о продукте, его преимуществах, вызывают желание обладать им.
          li
            h4 слоган
            p Краткость и заразительность наших слоганов всегда отражает основные принципы и ценности бренда, позволяя ярко выделиться на фоне конкурентов. Из множества вариантов мы выбираем самые действенный и бесподобный.
          li
            h4 разработка дизайн-стратегии
            p Дизайн является краеугольным камнем любого бренда и основой комплексной стратегии развития бренда через визуальный образ. Разработка стратегии учитывает все элементы невербальной коммуникации для выявления максимально эффективных направлений и сочетаний.
      .mdl#tooltipModal2
        .mdl__header
          h3 айдентика
          button.mdl__close(type="button")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="none"><path fill="#000" d="M9 1a1 1 0 0 0-2 0h2ZM7.293 17.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 15.586 2.343 9.929A1 1 0 0 0 .93 11.343l6.364 6.364ZM7 1v16h2V1H7Z"/></svg>
        ul
          li
            p набор выдержанных в едином стиле и концепции визуальных и прочих элементов, которые формируют образ и восприятие бренда и базируются на исследованиях и теоретических разработках.
          li 
            h4 логотип
            p Запоминающийся и узнаваемый символ или текстовый набор идентифицирующий бренд.
          li 
            h4 фирменный стиль
            p Упорядоченная система вербальных и невербальных элементов, образующая уникальный образ бренда.
          li 
            h4 упаковка
            p Упаковка делится на несколько видов: потребительская, транспортная, производственная и консервирующая. При создании дизайн-макетов мы учитываем безопасность, экологические свойства, надежность, совместимость, взаимозаменяемость и экономическую эффективность.
          li 
            h4 логобук
            p Руководство по использованию логотипа и подробное описание 
          li 
            h4 брендбук
            p Официальный документ компании, содержащий подробное описание бренда: философия, концепция, атрибуты, ц/а, позиционирование компании/бренда и прочие маркетинговые данные, данные айдентики
          li 
            h4 катгайд
            p Руководство по использованию визуальных материалов, их технические требования и чертежи для производственных целей
          li 
            h4 гайдлайн
            p Свод правил использования визуального стиля компании для отдела дизайна