-
  const PACKAGES = [
      { title: 'Пакет START',
        id: 'package-start',
        checkBoxes: 
        [
          { value: 's-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled', nosave: 'true' },
          { value: 's-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 's-three-carriers', span: '3 носителя', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 's-package', span: 'упаковка', nosave: 'false' }
        ],
        price: '200 000 ₽'
      },
      { title: 'Пакет айдентика',
        id: 'package-idenity',
        checkBoxes: 
        [
          { value: 'i-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'i-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'i-five-carriers', span: '5 носителей', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'i-brandbook', span: 'брендбук', checked: 'checked', disabled: 'disabled', nosave: 'true'  }, 
          { value: 'i-package', span: 'упаковка', nosave: 'false' }
        ],
        price: '250 000 ₽'
      },
      { title: 'Пакет брендинг и айдентика ',
        id: 'package-branding-idenity',
        checkBoxes: 
        [
          { value: 'bi-two-types-of-naming', span: '2 варианта нейминга', checked: 'checked', disabled: 'disabled', nosave: 'true'  }, 
          { value: 'bi-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-five-carriers', span: '5 носителей', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-brandbook', span: 'брендбук', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-brand-platform', span: 'бренд-платформа*', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-package', span: 'упаковка', nosave: 'false'  }
        ],
        price: '270 000 ₽',
        commentary: '*характер и ценности бренда, его идея, смысловая основа'
      }
    ]

article#inner1.form__ready
  h3.title готовые пакеты услуг
    | 
    br
    | для&nbsp;малого&nbsp;и&nbsp;среднего бизнеса
  form.form__ready-cards(id="form2" data-index="2")
    each package in PACKAGES
      fieldset
        label.form__ready-card(for=`ready-radio-${package.id}`)
          h4=package.title
          .form__ready-list
            each checkBox in package.checkBoxes
              label(class=`form__label-ready-${checkBox.value}` for=`ready-${checkBox.value}`)
                input(type='checkbox' name='ready-check' id=`ready-${checkBox.value}` value=checkBox.value checked=checkBox.checked disabled=checkBox.disabled data-no-save=checkBox.nosave)
                span.form__option
                p=checkBox.span
          .form__ready-container
            p=package.price
            input(type='radio' name='ready-radio' id=`ready-radio-${package.id}` data-span=package.title value=package.id)
            span.btn-black.btn-black--order
        small.form__ready-commentary=package.commentary
    button.btn-white(type="submit")
