-
  const PACKAGES = [
      { title: 'Пакет START',
        checkBoxes: 
        [
          { value: 's-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled' },
          { value: 's-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled' },
          { value: 's-three-carriers', span: '3 носителя', checked: 'checked', disabled: 'disabled' },
          { value: 's-package', span: 'упаковка' }
        ],
        price: '200 000 ₽'
      },
      { title: 'Пакет айдентика',
        checkBoxes: 
        [
          { value: 'i-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled' },
          { value: 'i-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled' },
          { value: 'i-five-carriers', span: '5 носителей', checked: 'checked', disabled: 'disabled' },
          { value: 'i-brandbook', span: 'брендбук', checked: 'checked', disabled: 'disabled' }, 
          { value: 'i-package', span: 'упаковка' }
        ],
        price: '250 000 ₽'
      },
      { title: 'Пакет брендинг и айдентика ',
        checkBoxes: 
        [
          { value: 'bi-two-types-of-naming', span: '2 варианта нейминга', checked: 'checked', disabled: 'disabled' }, 
          { value: 'bi-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled' },
          { value: 'bi-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled' },
          { value: 'bi-five-carriers', span: '5 носителей', checked: 'checked', disabled: 'disabled' },
          { value: 'bi-brandbook', span: 'брендбук', checked: 'checked', disabled: 'disabled' },
          { value: 'bi-brand-platform', span: 'бренд-платформа*', checked: 'checked', disabled: 'disabled' },
          { value: 'bi-package', span: 'упаковка' }
        ],
        price: '270 000 ₽',
        commentary: '*характер и ценности бренда, его идея, смысловая основа'
      }
    ]

article#inner1.form__ready
  h3.title готовые пакеты услуг
    | 
    br
    | для&nbsp;малого&nbsp;и&nbsp;среднего бизнеса
  form.form__ready-cards(action='https://echo.htmlacademy.ru/' method='post')
    each package in PACKAGES
      fieldset
        .form__ready-card
          h4=package.title
          .form__ready-list
            each checkBox in package.checkBoxes
              label(class=`form__label-ready-${checkBox.value}` for=`ready-${checkBox.value}`)
                input(type='checkbox' name='ready' id=`ready-${checkBox.value}` value=checkBox.value checked=checkBox.checked disabled=checkBox.disabled)
                span.form__option
                p=checkBox.span
          .form__ready-container
            p=package.price
            button.btn-black.btn-black--order(type='submit')
        small.form__ready-commentary=package.commentary
    a.btn-white(href="order.html")
