-
  const PACKAGES = [
      { title: 'Пакет START',
        id: 'package-start',
        checkBoxes: 
        [
          { value: 's-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled', nosave: 'true' },
          { value: 's-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 's-three-carriers', span: '3 носителя', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 's-package', span: 'упаковка' }
        ],
        index: '2'
      },
      { title: 'Пакет айдентика',
        id: 'package-idenity',
        checkBoxes: 
        [
          { value: 'i-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'i-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'i-five-carriers', span: '5 носителей', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'i-brandbook', span: 'брендбук', checked: 'checked', disabled: 'disabled', nosave: 'true'  }, 
          { value: 'i-package', span: 'упаковка' }
        ],
        index: '3'
      },
      { title: 'Пакет брендинг и айдентика ',
        id: 'package-branding-idenity',
        checkBoxes: 
        [
          { value: 'bi-two-types-of-naming', span: '2 варианта нейминга', checked: 'checked', disabled: 'disabled', nosave: 'true'  }, 
          { value: 'bi-two-logotypes', span: '2 логотипа', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-five-carriers', span: '5 носителей', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-brandbook', span: 'брендбук', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-brand-platform', span: 'бренд-платформа*', checked: 'checked', disabled: 'disabled', nosave: 'true'  },
          { value: 'bi-package', span: 'упаковка' }
        ],
        index: '4',
        commentary: '*характер и ценности бренда, его идея, смысловая основа'
      }
    ]

#inner1.form__ready
  h3#packages.title готовые пакеты услуг
    | 
    br
    | для&nbsp;малого&nbsp;и&nbsp;среднего бизнеса
  .form__ready-cards
    each package in PACKAGES
      fieldset
        form.form__ready-card(id=`form${package.index}` data-index=`${package.index}`)
          h4=package.title
          .form__ready-list
            each checkBox in package.checkBoxes
              label(class=`form__label-ready-${checkBox.value}` for=`ready-${checkBox.value}`)
                input(type='checkbox' name='ready-check' id=`ready-${checkBox.value}` data-no-save=checkBox.nosave  value=checkBox.value checked=checkBox.checked disabled=checkBox.disabled data-span=`${package.title}: ${checkBox.span}` data-price=package.price)
                span.form__option
                p=checkBox.span
              label.visually-hidden(for=`ready-${package.id}`)
                input.visually-hidden(type='radio' name='ready-package' id=`ready-${package.id}` value=package.id checked='checked' data-span=package.title)
          .form__ready-container
            p(id=`myPrice${package.index}`)
            button.btn-black(type="submit" data-cross="true") Заказать
        small.form__ready-commentary=package.commentary
    article.promotion
      p Пакет web+ брендинг/айдентикa
      p скидка 15%
      a.btn-black#myLink(href="web.html#form3") Добавить
    a.btn-white(href="order.html")
