-
  const WEB = [
    {
      title: 'сайт-визитка',
      label: 'bc-website',
      number: '01',
      description: 'Компактный сайт, содержащий основные элементы информации о компании, товарах и услугах.',
      bold: '+3D анимация бесплатно',
      price: '200 000 ₽'
    },
    {
      title: 'лендинг',
      label: 'landing',
      number: '02',
      description: 'Основная страница для сбора информативных данных о целевой аудитории компании. Используется для усиления эффективности рекламных инструментов.',
      bold: '',
      price: 'от 250 000 ₽'
    },
    {
      title: 'магазин/лукбук',
      label: 'shop-lookbook',
      number: '03',
      description: 'Создание и интеграция внутреннего магазина с возможностью покупки и оплаты внутри сайта.',
      bold: '',
      price: 'от 500 000 ₽'
    },
    {
      title: 'сайт-портал',
      label: 'website-portal',
      number: '04',
      description: 'Содержит большое количество мультимедийных и текстовых наполнителей, целью которых является продвижение товаров и услуг.',
      bold: '',
      price: 'от 450 000 ₽'
    },
    {
      title: 'приложение',
      label: 'application',
      number: '05',
      description: 'Упрощает взаимодействие с аудиторией через специально разработанные приложения для мобильных устройств.',
      bold: '',
      price: 'индивидуально'
    },
    {
      title: 'индивидуальный продукт',
      label: 'ind-product',
      number: '06',
      description: 'Отдельная разработка сайта для каждого индивидуального продукта, соответствующая требованиям и целям компании.',
      bold: '',
      price: 'индивидуально'
    }
  ]

-
  const SEO = [
    {
      title: 'базовое',
      label: 'base',
      number: '01',
      description: 'Основные пункты работ: оптимизация под ключевые слова, улучшение структуры сайта и помощь в создании качественного контента.',
      bold: '',
      price: '80 000 ₽'
    },
    {
      title: 'среднее',
      label: 'middle',
      number: '02',
      description: '+ дополнительные работы с внутренней ссылочной структурой, улучшение юзабилити сайта, работу с внешними ресурсами, улучшение ссылочной массы.',
      bold: '',
      price: '120 000 ₽'
    },
    {
      title: 'PRO',
      label: 'pro',
      number: '03',
      description: 'продвижение включает в себя Базовое и Среднее SEO c детальным разбором и анализом конкурентов, более глубокую аналитику для подготовки стратегии продвижения на длительный период.',
      bold: '',
      price: '150 000 ₽'
    },
    {
      title: 'брендовый трафик',
      label: 'brand-traffic',
      number: '04',
      description: 'Увеличение органического трафика из поиска. Увеличение трафика из соц-сетей, ссылки с сайтов, E-mail рассылки. Основная поисковая фраза для продвижения - брендовое имя.',
      bold: '',
      price: '80 000 ₽'
    },
    {
      title: 'разовая оптимизация',
      label: 'one-time-optimization',
      number: '05',
      description: 'комплекс мер, включающий в себя анализ исходного состояния сайта, определение ключевых запросов, внутреннюю и внешнюю оптимизацию, создание уникального контента и другие действия. Сопровождение включает в себя мониторинг позиций сайта в поисковых системах и корректировку ключевых слов при необходимости, а также устранение ошибок в поиске.',
      bold: '',
      price: ''
    },
    {
      title: 'SEO аудит сайта',
      label: 'audit',
      number: '06',
      description: 'проверка на соответствие требованиям поисковых систем, которая поможет избежать проблем при продвижении сайта с нуля или найти причины резкого снижения трафика уже продвигаемого ресурса.',
      bold: '',
      price: '80 000 ₽'
    }
  ]
section.dev
  .wrapper
    .dev__web-container
      h2.title виды веб разработки
      .dev__web-inbox
        p SEO
        a.btn-arrow(href="#inner3")
          img(src="img/icon-arrow.svg", atl="Спуститься ниже", width="52")
    form.dev__web-services(id="form3" data-index="3")
      each web in WEB
        fieldset
          p.dev__web-title=web.title
          p.dev__web-number=web.number
          p.dev__web-description=web.description
            br
            span=web.bold
          p.dev__web-price=web.price
          label(class=`dev__label-web-${web.label}` for=`web-${web.label}`)
            input.visually-hidden(type='radio' name='web' id=`web-${web.label}` data-span=web.title value=web.label)
            span.btn-black.btn-black--order
      article.promotion
        p Пакет web+ брендинг/айдентикa
        p скидка 15%
        a.btn-black.btn-black--add(href='branding.html#packages')
      button.btn-white(type='submit' data-action="submit-form")
    #inner3.dev__web-container
      h2.title SEO продвижение
    form.dev__web-services(id="form4" data-index="4")
      each seo in SEO
        fieldset
          p.dev__web-title=seo.title
          p.dev__web-number=seo.number
          p.dev__web-description=seo.description
            br
            span=seo.bold
          p.dev__web-price=seo.price
          label(class=`dev__label-seo-${seo.label}` for=`seo-${seo.label}`)
            input.visually-hidden(type='radio' name='seo' id=`seo-${seo.label}` data-span=seo.title value=seo.label)
            span.btn-black.btn-black--order
      button.btn-white(type='submit' data-action="submit-form")
