-
  const WEB = [
    {
      title: 'сайт-визитка',
      number: '01',
      description: 'Компактный сайт, содержащий основные элементы информации о компании, товарах и услугах.',
      bold: '+3D анимация бесплатно',
      price: '200 000 ₽'
    },
    {
      title: 'лендинг',
      number: '02',
      description: 'Основная страница для сбора информативных данных о целевой аудитории компании. Используется для усиления эффективности рекламных инструментов.',
      bold: '',
      price: 'от 250 000 ₽'
    },
    {
      title: 'магазин/лукбук',
      number: '03',
      description: 'Создание и интеграция внутреннего магазина с возможностью покупки и оплаты внутри сайта.',
      bold: '',
      price: 'от 500 000 ₽'
    },
    {
      title: 'сайт-портал',
      number: '04',
      description: 'Содержит большое количество мультимедийных и текстовых наполнителей, целью которых является продвижение товаров и услуг.',
      bold: '',
      price: 'от 450 000 ₽'
    },
    {
      title: 'приложение',
      number: '05',
      description: 'Упрощает взаимодействие с аудиторией через специально разработанные приложения для мобильных устройств.',
      bold: '',
      price: 'индивидуально'
    },
    {
      title: 'индивидуальный продукт',
      number: '06',
      description: 'Отдельная разработка сайта для каждого индивидуального продукта, соответствующая требованиям и целям компании.',
      bold: '',
      price: 'индивидуально'
    }
  ]

-
  const SEO = [
    {
      title: 'базовое',
      number: '01',
      description: 'Основные пункты работ: оптимизация под ключевые слова, улучшение структуры сайта и помощь в создании качественного контента.',
      bold: '',
      price: '80 000 ₽'
    },
    {
      title: 'среднее',
      number: '02',
      description: '+ дополнительные работы с внутренней ссылочной структурой, улучшение юзабилити сайта, работу с внешними ресурсами, улучшение ссылочной массы.',
      bold: '',
      price: '120 000 ₽'
    },
    {
      title: 'PRO',
      number: '03',
      description: 'продвижение включает в себя Базовое и Среднее SEO c детальным разбором и анализом конкурентов, более глубокую аналитику для подготовки стратегии продвижения на длительный период.',
      bold: '',
      price: '150 000 ₽'
    },
    {
      title: 'брендовый трафик',
      number: '04',
      description: 'Увеличение органического трафика из поиска. Увеличение трафика из соц-сетей, ссылки с сайтов, E-mail рассылки. Основная поисковая фраза для продвижения - брендовое имя.',
      bold: '',
      price: '80 000 ₽'
    },
    {
      title: 'разовая оптимизация',
      number: '05',
      description: 'комплекс мер, включающий в себя анализ исходного состояния сайта, определение ключевых запросов, внутреннюю и внешнюю оптимизацию, создание уникального контента и другие действия. Сопровождение включает в себя мониторинг позиций сайта в поисковых системах и корректировку ключевых слов при необходимости, а также устранение ошибок в поиске.',
      bold: '',
      price: ''
    },
    {
      title: 'SEO аудит сайта',
      number: '06',
      description: 'проверка на соответствие требованиям поисковых систем, которая поможет избежать проблем при продвижении сайта с нуля или найти причины резкого снижения трафика уже продвигаемого ресурса.',
      bold: '',
      price: '80 000 ₽'
    }
  ]
section.dev
  .wrapper
    .dev__web-container
      h2.title виды веб разработки
      .dev__web-inbox
        p SEO
        a.btn-arrow(href="#inner3")
          svg(width="52" height="60" role="img" aria-labelledby="arrow__down" aria-description="Вниз")
            use(href="img/sprite.svg#arrow")
    .dev__web-services
        ul
          each web in WEB
            li
              p.dev__web-title=web.title
              p.dev__web-number=web.number
              p.dev__web-description=web.description
                br
                span=web.bold
              p.dev__web-price=web.price
              button.btn-black.btn-black--order(type='button')
        article.dev__web-promotion
          p Пакет web+ брендинг/айдентикa
          p скидка 15%
          button.btn-black.btn-black--add(type='button')
        a.btn-white(href="order.html")
        //- button.btn-white(type='button')
    #inner3.dev__web-container
      h2.title SEO продвижение
    .dev__web-services
        ul
          each seo in SEO
            li
              p.dev__web-title=seo.title
              p.dev__web-number=seo.number
              p.dev__web-description=seo.description
                br
                span=seo.bold
              p.dev__web-price=seo.price
              button.btn-black.btn-black--order(type='button')
        a.btn-white(href="order.html")
        //- button.btn-white(type='button')
