//- - const DEVELOPMENTS = [{ value: 'branding', span: 'брендинг' }, { value: 'rebranding', span: 'ребрендинг' }, { value: 'retail-branding', span: 'ритейл-брендинг' }, { value: 'localization', span: 'локализация' }]
- const RESEARCHES = [{ value: 'marketing-analysis', span: 'маркетинговый анализ' }, { value: 'cjm', span: 'CJM' }, { value: 'customer-experience', span: 'Customer Experience' }, { value: 'brand-audit', span: 'аудит бренда' }, { value: 'structuring-of-the-received-data', span: 'структурирование полученных данных' }]
- const ANALYZES = [{ value: 'brand-architecture', span: 'архитектура бренда' }, { value: 'promotion-concepts', span: 'концепции продвижения' }, { value: 'creating-a-brand-legend', span: 'создание легенды бренда' }, { value: 'naming', span: 'нейминг' }, { value: 'slogan', span: 'слоган' }, { value: 'development-of-a-design-strategy', span: 'разработка дизайн-стратегии' }, { value: 'creating-creative-texts', span: 'создание креативных текстов' }, { value: 'brand positioning', span: 'позиционирование бренда' }]
- const LOGOTYPES = [{ value: 'one-option', span: '1 вариант' }, { value: 'two-options', span: '2 варианта' }]
- const STYLES = [{ value: 'corporate-pattern-colors-fonts', span: 'фирменный паттерн, цвета, шрифты' }, { value: 'two-options', span: '2 варианта' }]
- const PACKAGING = [{ value: 'design-development-of-shipping-containers', span: 'разработка дизайна транспортировочных тар' }, { value: 'packaging-design-development', span: 'разработка дизайна упаковки' }, { value: 'development-of-a-non-standard-packaging', span: 'разработка нестандартной для рынка формы упаковки в соответствии с технологическими возможностями' }]
- const LABELS = [{ value: 'label-development', span: 'разработка этикеток ' }]
- const VISUALIZATION = [{ value: 'an-example', span: 'пример работы фирменного стиля в среде' }]
- const INSTRUCTIONS = [{ value: 'logobook', span: 'логобук' }, { value: 'brandbook', span: 'брендбук' }, { value: 'cut-guide', span: 'кат гайд' }, { value: 'guideline', span: 'гайдлайн' }]
- const NAVIGATION = [{ value: 'food-styling-and-advertising-photography-lookbooks-etc', span: 'фудстайлинг и рекламная съемка, лукбуки и  т.д' }, { value: 'design-of-spaces-and-navigation', span: 'оформление пространств и навигации' }, { value: 'support-from-the-layout', span: 'сопровождение от макета до готового тиража клиенту' }, { value: 'creating-infographics-and-animations', span: 'создание-инфографики-и-анимации' }, { value: 'development-of-additional-elements', span: 'разработка дополнительных элементов фирменного стиля' }]
- const TITLES = { text: [{value: 'value1', h4: "вид разработки"}, {value: 'value2', h4: "исследование"}], options: [{ value: 'branding', span: 'брендинг' }, { value: 'rebranding', span: 'ребрендинг' }, { value: 'retail-branding', span: 'ритейл-брендинг' }, { value: 'localization', span: 'локализация' }, { value: 'marketing-analysis', span: 'маркетинговый анализ' }, { value: 'cjm', span: 'CJM' }, { value: 'customer-experience', span: 'Customer Experience' }, { value: 'brand-audit', span: 'аудит бренда' }, { value: 'structuring-of-the-received-data', span: 'структурирование полученных данных' }]}

-
  const BRANDINGS_IDs = ['type-of-development', 'research', 'analysis-and-theory'],
  BRANDINGS_NAV = [
    { text: 'вид разработки', id: BRANDINGS_IDs[0]},
    { text: 'исследование', id: BRANDINGS_IDs[1]},
    { text: 'анализ и теория', id: BRANDINGS_IDs[2] }
  ],
  BRANDINGS = {
    [BRANDINGS_IDs[0]]: [
      { value: 'branding', span: 'брендинг' }, 
      { value: 'rebranding', span: 'ребрендинг' }, 
      { value: 'retail-branding', span: 'ритейл-брендинг' }, 
      { value: 'localization', span: 'локализация' }
    ],
    [BRANDINGS_IDs[1]]: [
      { value: 'marketing-analysis', span: 'маркетинговый анализ' }, 
      { value: 'cjm', span: 'CJM' }, 
      { value: 'customer-experience', span: 'Customer Experience' }, 
      { value: 'brand-audit', span: 'аудит бренда' }, 
      { value: 'structuring-of-the-received-data', span: 'структурирование полученных данных' }
    ],
    [BRANDINGS_IDs[2]]: [
      { value: 'brand-architecture', span: 'архитектура бренда' }, 
      { value: 'promotion-concepts', span: 'концепции продвижения' }, 
      { value: 'creating-a-brand-legend', span: 'создание легенды бренда' }, 
      { value: 'naming', span: 'нейминг' }, 
      { value: 'slogan', span: 'слоган' }, 
      { value: 'development-of-a-design-strategy', span: 'разработка дизайн-стратегии' }, 
      { value: 'creating-creative-texts', span: 'создание креативных текстов' }, 
      { value: 'brand positioning', span: 'позиционирование бренда' }
    ]
  }
- const isSelected = index === 0

section.form
  .wrapper
    .form__intro
      h2.title этапы разработки
      button.btn-arrow(type="button")
        svg(xmlns='http://www.w3.org/2000/svg' width='52' height='60' fill='none')
          path(fill='#000' d='M29.5 4a3.5 3.5 0 1 0-7 0h7Zm-5.975 54.475a3.5 3.5 0 0 0 4.95 0L50.749 36.2a3.5 3.5 0 1 0-4.95-4.95L26 51.051 6.201 31.25a3.5 3.5 0 1 0-4.95 4.95l22.274 22.274ZM22.5 4v52h7V4h-7Z')
    form(action='https://echo.htmlacademy.ru/' method='post')
      .form__stage
        h3.title брендинг
        small создание твердой платформы бренда при помощи определения характеристик 
          | будущего бренда, таких как: ценности, целевая аудитория, миссия и&nbsp;философия, 
          | позиционирование, тон голоса бренда и&nbsp;стиль визуальной коммуникации, сервис 
          | и&nbsp;опыт взаимодействия потребителя с&nbsp;брендом.
      fieldset
        each element in TITLES.text
          h4=element.h4
          .form__list 
            each element in TITLES.options
              label(class=`form__label-${element.value}` for=`element-${element.value}`)
                input.form__input(type='checkbox' name='element' id=`element-${element.value}` value=element.value)
                span.form__option
                =element.span
                span.form__tooltip
      //- fieldset
      //-   h4 исследование
      //-   .form__list 
      //-     each research in RESEARCHES
      //-       label(class=`form__label-${research.value}` for=`research-${research.value}`)
      //-         input.form__input(type='checkbox' name='research' id=`research-${research.value}` value=research.value)
      //-         span.form__option
      //-         =research.span
      //-         span.form__tooltip
      //- fieldset
      //-   h4 анализ и теория
      //-   .form__list 
      //-     each analysis in ANALYZES
      //-       label(class=`form__label-${analysis.value}` for=`analysis-${analysis.value}`)
      //-         input.form__input(type='checkbox' name='analysis' id=`analysis-${analysis.value}` value=analysis.value)
      //-         span.form__option
      //-         =analysis.span
      //-         span.form__tooltip
      //- .form__stage
      //-   h3.title айдентика
      //-   small набор выдержанных в&nbsp;едином стиле и&nbsp;концепции визуальных и&nbsp;прочих элементов, 
      //-     | которые формируют образ и&nbsp;восприятие бренда.
      //- fieldset
      //-   h4 логотип
      //-   .form__list 
      //-     each logotype in LOGOTYPES
      //-       label(class=`form__label-${logotype.value}` for=`logotype-${logotype.value}`)
      //-         input.form__input(type='checkbox' name='logotype' id=`logotype-${logotype.value}` value=logotype.value)
      //-         span.form__option
      //-         =logotype.span
      //-         span.form__tooltip
      //- fieldset
      //-   h4 фирменный стиль
      //-   .form__list 
      //-     each style in STYLES
      //-       label(class=`form__label-${style.value}` for=`style-${style.value}`)
      //-         input.form__input(type='checkbox' name='style' id=`style-${style.value}` value=style.value)
      //-         span.form__option
      //-         =style.span
      //-         span.form__tooltip
      //- fieldset
      //-   h4 разработка формы/дизайна упаковки
      //-   .form__list 
      //-     each package in PACKAGING
      //-       label(class=`form__label-${package.value}` for=`package-${package.value}`)
      //-         input.form__input(type='checkbox' name='package' id=`package-${package.value}` value=package.value)
      //-         span.form__option
      //-         =package.span
      //-         span.form__tooltip
      //- fieldset
      //-   h4 разработка дизайна этикеток
      //-   .form__list 
      //-     each label in LABELS
      //-       label(class=`form__label-${label.value}` for=`label-${label.value}`)
      //-         input.form__input(type='checkbox' name='label' id=`label-${label.value}` value=label.value)
      //-         span.form__option
      //-         =label.span
      //-         span.form__tooltip
      //- fieldset
      //-   h4 визуализация на носителях
      //-   .form__list 
      //-     each visualization in VISUALIZATION
      //-       label(class=`form__label-${visualization.value}` for=`visualization-${visualization.value}`)
      //-         input.form__input(type='checkbox' name='visualization' id=`visualization-${visualization.value}` value=visualization.value)
      //-         span.form__option
      //-         =visualization.span
      //-         span.form__tooltip
      //- fieldset
      //-   h4 инструкции
      //-   .form__list 
      //-     each instruction in INSTRUCTIONS
      //-       label(class=`form__label-${instruction.value}` for=`instruction-${instruction.value}`)
      //-         input.form__input(type='checkbox' name='instruction' id=`instruction-${instruction.value}` value=instruction.value)
      //-         span.form__option
      //-         =instruction.span
      //-         span.form__tooltip
      //- .form__stage
      //-   h3.title дополнительные услуги
      //-   small 
      //- fieldset
      //-   h4 контент, навигация
      //-   .form__list 
      //-     each navigation in NAVIGATION
      //-       label(class=`form__label-${navigation.value}` for=`navigation-${navigation.value}`)
      //-         input.form__input(type='checkbox' name='navigation' id=`navigation-${navigation.value}` value=navigation.value)
      //-         span.form__option
      //-         =navigation.span
      //-         span.form__tooltip
      //- .form__buttons
      //-   button.btn-white(type='submit') оставить заявку
      //-   button.btn-arrow(type="button")
      //-     svg(xmlns='http://www.w3.org/2000/svg' width='52' height='60' fill='none')
      //-       path(fill='#000' d='M29.5 4a3.5 3.5 0 1 0-7 0h7Zm-5.975 54.475a3.5 3.5 0 0 0 4.95 0L50.749 36.2a3.5 3.5 0 1 0-4.95-4.95L26 51.051 6.201 31.25a3.5 3.5 0 1 0-4.95 4.95l22.274 22.274ZM22.5 4v52h7V4h-7Z')
