-
  const STAGES = [
    { header: 'брендинг',
      description: 'создание твердой платформы бренда при помощи определения характеристик будущего бренда, таких как: ценности, целевая аудитория, миссия и философия, позиционирование, тон голоса бренда и стиль визуальной коммуникации, сервис и опыт взаимодействия потребителя с брендом.',
      data: [
        { title: 'вид разработки',
          number: '01',
          checkBoxes: 
          [
            { value: 'branding', span: 'брендинг' },
            { value: 'rebranding', span: 'ребрендинг' },
            { value: 'retail-branding', span: 'ритейл-брендинг' },
            { value: 'localization', span: 'локализация' }
          ] 
        },
        { title: 'исследование',
          number: '02',
          checkBoxes: 
          [
            { value: 'marketing-analysis', span: 'маркетинговый анализ' }, 
            { value: 'cjm', span: 'CJM' }, 
            { value: 'customer-experience', span: 'Customer Experience' }, 
            { value: 'brand-audit', span: 'аудит бренда' }, 
            { value: 'structuring-of-the-received-data', span: 'структурирование полученных данных' }
          ] 
        },
        { title: 'анализ и теория',
          number: '03',
          checkBoxes: 
          [
            { value: 'brand-architecture', span: 'архитектура бренда' }, 
            { value: 'promotion-concepts', span: 'концепции продвижения' }, 
            { value: 'creating-a-brand-legend', span: 'создание легенды бренда' }, 
            { value: 'naming', span: 'нейминг' }, 
            { value: 'slogan', span: 'слоган' }, 
            { value: 'development-of-a-design-strategy', span: 'разработка дизайн-стратегии' }, 
            { value: 'creating-creative-texts', span: 'создание креативных текстов' }, 
            { value: 'brand positioning', span: 'позиционирование бренда' }
          ] 
        }
      ]
    },
    { header: 'айдентика',
      description: 'набор выдержанных в едином стиле и концепции визуальных и прочих элементов, которые формируют образ и восприятие бренда.',
      data: [
        { title: 'логотип',
          number: '04',
          checkBoxes: 
          [
            { value: 'one-option', span: '1 вариант' },
            { value: 'two-options', span: '2 варианта' }
          ] 
        },
        { title: 'фирменный стиль',
          number: '05',
          checkBoxes: 
          [
            { value: 'corporate-pattern-colors-fonts', span: 'фирменный паттерн, цвета, шрифты' },
            { value: 'two-options', span: '2 варианта' }
          ] 
        },
        { title: 'разработка формы/дизайна упаковки',
          number: '06',
          checkBoxes: 
          [
            { value: 'design-development-of-shipping-containers', span: 'разработка дизайна транспортировочных тар' },
            { value: 'packaging-design-development', span: 'разработка дизайна упаковки' },
            { value: 'development-of-a-non-standard-packaging', span: 'разработка нестандартной для рынка формы упаковки в соответствии с технологическими возможностями' }
          ] 
        },
        { title: 'разработка дизайна этикеток',
          number: '07',
          checkBoxes: 
          [
            { value: 'label-development', span: 'разработка этикеток ' }
          ] 
        },
        { title: 'визуализация на носителях',
          number: '08',
          checkBoxes: 
          [
            { value: 'an-example', span: 'пример работы фирменного стиля в среде' }
          ] 
        },
        { title: 'инструкции',
          number: '09',
          checkBoxes: 
          [
            { value: 'logobook', span: 'логобук' },
            { value: 'brandbook', span: 'брендбук' },
            { value: 'cut-guide', span: 'кат гайд' },
            { value: 'guideline', span: 'гайдлайн' }
          ] 
        }
      ]
    },
    { header: 'дополнительные услуги',
      description: '',
      data: [
        { title: 'контент, навигация',
          number: '10',
          checkBoxes: 
          [
            { value: 'food-styling-and-advertising-photography-lookbooks-etc', span: 'фудстайлинг и рекламная съемка, лукбуки и  т.д' },
            { value: 'design-of-spaces-and-navigation', span: 'оформление пространств и навигации' },
            { value: 'support-from-the-layout', span: 'сопровождение от макета до готового тиража клиенту' },
            { value: 'creating-infographics-and-animations', span: 'создание-инфографики-и-анимации' },
            { value: 'development-of-additional-elements', span: 'разработка дополнительных элементов фирменного стиля' }
          ] 
        }
      ]
    }
  ]

-
  const PACKAGES = [
      { title: 'Пакет START',
        checkBoxes: 
        [
          { value: 's-two-logotypes', span: '2 логотипа' },
          { value: 's-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн' },
          { value: 's-three-carriers', span: '3 носителя' },
          { value: 's-package', span: 'упаковка' }
        ],
        price: '250 000 ₽'
      },
      { title: 'Пакет айдентика',
        checkBoxes: 
        [
          { value: 'i-two-logotypes', span: '2 логотипа' },
          { value: 'i-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн' },
          { value: 'i-five-carriers', span: '5 носителей' },
          { value: 'i-brandbook', span: 'брендбук' }, 
          { value: 'i-package', span: 'упаковка' }
        ],
        price: '250 000'
      },
      { title: 'Пакет брендинг и айдентика ',
        checkBoxes: 
        [
          { value: 'bi-two-types-of-naming', span: '2 варианта нейминга' }, 
          { value: 'bi-two-logotypes', span: '2 логотипа' },
          { value: 'bi-corporate-style', span: 'фирменный стиль – цвет/шрифт/паттерн' },
          { value: 'bi-five-carriers', span: '5 носителей' },
          { value: 'bi-brandbook', span: 'брендбук' },
          { value: 'bi-brand-platform', span: 'бренд-платформа*' }, 
        ],
        price: '270 000',
        commentary: '*характер и ценности бренда, его идея, смысловая основа'
      }
    ]

section.form
  .wrapper
    .form__intro
      h2.title этапы разработки
    .form__progress
      .form__progress-bar
      .form__progress-overlay-top
      .form__progress-overlay-bottom
    form.form__stages(action='https://echo.htmlacademy.ru/' method='post')#content
      each component in STAGES
        .form__stages-container
          h3.title=component.header
          small=component.description
        fieldset
          each element in component.data
            h4=element.title
            p.form__stages-toggle#line=element.number
            .form__stages-list 
              each checkBox in element.checkBoxes
                label(class=`form__label-stages-${checkBox.value}` for=`stages-${checkBox.value}`)
                  input(type='checkbox' name='stages' id=`stages-${checkBox.value}` value=checkBox.value)
                  span.form__option
                  =checkBox.span
                  span.form__stages-tooltip
      .form__stages-btn
        button.btn-white(type='submit') оставить заявку
        button.btn-arrow(type="button")
          svg(xmlns='http://www.w3.org/2000/svg' width='52' height='60' fill='none')
            path(fill='#000' d='M29.5 4a3.5 3.5 0 1 0-7 0h7Zm-5.975 54.475a3.5 3.5 0 0 0 4.95 0L50.749 36.2a3.5 3.5 0 1 0-4.95-4.95L26 51.051 6.201 31.25a3.5 3.5 0 1 0-4.95 4.95l22.274 22.274ZM22.5 4v52h7V4h-7Z')
    article.form__ready
      h3.title готовые пакеты услуг для&nbsp;малого&nbsp;и&nbsp;среднего бизнеса
      form.form__ready-cards(action='https://echo.htmlacademy.ru/' method='post')
        each package in PACKAGES
          fieldset
            .form__ready-card
              h4=package.title
              .form__ready-list
                each checkBox in package.checkBoxes
                  label(class=`form__label-ready-${checkBox.value}` for=`ready-${checkBox.value}`)
                    input(type='checkbox' name='ready' id=`ready-${checkBox.value}` value=checkBox.value)
                    p=checkBox.span
              .form__ready-container
                p=package.price
                button.btn-black(type='submit') Заказать
            small.form__ready-commentary=package.commentary
